.about {
    padding-top: 232px;
    padding-bottom: 194px;

    &__container {
        position: relative;

    }

    &__video {
        position: relative;
        padding-bottom:56.25%;
        background: url(../img/about_bg.png)center/cover  no-repeat;
    }

    &__link {
        padding: 0 25px;
        color:#475466;
        text-transform: uppercase;
        margin: 23px auto 0 auto;
        max-width: 369px;
        
       
    }
    @media screen and (max-width:768px) {
        padding: 127px 0 86px;
    }

    @media screen and (min-width:768px) {


        &__link {
            position: absolute;
            right: 56px;
            bottom: 0;
            transform: translateY(50%);
        }
       
    
    }
}

.control__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 94px;
    height: 94px;
    background: url(../img/video_play.svg)center/cover no-repeat;
    cursor: pointer;
}

