:root {
    --color-white: #fff;
    --color-black: #000;
    --color-peach: #ffe4b5;
    --color-shark: #2E3034;
    --color-secondary: #D7EEFD;
    --color-title:#BED3E0;
    --color-accent:#FF612C;
    --color-light-accent:#FF845A; 

    --color-opacity-silver:rgba(196, 196, 196,.4);
    --color-main-bg:#475466 ;

    // Z-index
    --z-header:100;
  }